Repository Guirdo/apod-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax=scss

docs: :memo: add socialify banner in README.md
  README.md
Due: none

fix: :lipstick: fix modal overflow in small screens
  style/objects/_modal.scss
Due: stylelint --syntax=scss

feat: :sparkles: add showVideo variable to the UI store
  stores/ui.js
Due: eslint --fix

feat: :sparkles: add VideoModal component
  components/VideoModal.jsx
Due: eslint --fix

chore: :lipstick: add VideoModal component styles
  style/global.scss
  style/objects/_video-modal.scss
Due: stylelint --syntax=scss

chore: :children_crossing: show VideoModal when it comes to a video
  components/Picture.jsx
  src/App.jsx
Due: eslint --fix

fix: :bug: fix fetching a new picture when user closes the video modal
  components/PictureOfTheDay.jsx
Due: eslint --fix

fix: :bug: fix initializing showVideo variable in true
  stores/ui.js
Due: eslint --fix

chore: :lipstick: add flexbox the buttons
  style/objects/_button.scss
Due: stylelint --syntax=scss

refactor: :recycle: refactor modal and modal content style in a template
  style/_tools.scss
  style/objects/_modal.scss
  style/objects/_video-modal.scss
Due: stylelint --syntax=scss

chore: :children_crossing: add icons to the watch and share buttons
  components/Picture.jsx
  components/PictureData.jsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --syntax=scss: any of: *.scss
