Repository Guirdo/apod-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax=scss

feat: :sparkles: add UIStore for UI options
  stores/ui.js
Due: eslint --fix

feat: :sparkles: add quality changing capacity for the pictures
  components/QualitySwitch.jsx
  components/Slider.jsx
Due: eslint --fix

feat: :lipstick: add an animation to the picture and its data
  components/PictureData.jsx
  style/_tools.scss
  style/objects/_picture.scss
  style/objects/_slider.scss
Due: eslint --fix, stylelint --syntax=scss

chore: :speech_balloon: add thumbnail request for video responses
  stores/apod.js
Due: eslint --fix

feat: :children_crossing: show video link when it comes to video responses
  components/Slider.jsx
  style/objects/_slider.scss
Due: eslint --fix, stylelint --syntax=scss

fix: :adhesive_bandage: add display to the div that contains the picture data
  style/objects/_picture.scss
Due: stylelint --syntax=scss

feat: :lipstick: add button styles
  style/global.scss
  style/objects/_button.scss
Due: stylelint --syntax=scss

chore: :dizzy: add transitions to buttons in slider and datepicker
  components/DatePicker.jsx
  components/Slider.jsx
  style/objects/_date-picker.scss
  style/objects/_slider.scss
Due: eslint --fix, stylelint --syntax=scss

chore: :fire: remove an extra variable initialization when fetching the today's APOD
  stores/apod.js
Due: eslint --fix

chore: :lipstick: improve scrollbar appearance
  style/_generics.scss
Due: stylelint --syntax=scss

feat: :recycle: add picture component
  components/Picture.jsx
  components/Slider.jsx
Due: eslint --fix

chore: :lipstick: add picture__image style and remove slider__image style
  style/objects/_picture.scss
  style/objects/_slider.scss
Due: stylelint --syntax=scss

chore: :heavy_plus_sign: add react router dom dependency
  package-lock.json
  package.json
Due: none

feat: :sparkles: add router for turning the project into a single page application
  components/PictureOfTheDay.jsx
  src/App.jsx
Due: eslint --fix

fix: :bug: fix router bug
  src/App.jsx
  src/main.jsx
Due: eslint --fix

refactor: :recycle: refactor header component to navbar component
  components/Header.jsx
  components/Navbar.jsx
  src/App.jsx
Due: eslint --fix

refactor: :recycle: refactor header styles to navbar styles
  style/components/_header.scss
  style/components/_navbar.scss
  style/global.scss
Due: stylelint --syntax=scss

chore: :heavy_plus_sign: add classnames dependency
  package-lock.json
  package.json
Due: none

feat: :sparkles: add responsiveness to the navbar
  components/Navbar.jsx
  style/components/_navbar.scss
Due: eslint --fix, stylelint --syntax=scss

chore: :lipstick: add random component styles
  style/components/_random.scss
  style/global.scss
Due: stylelint --syntax=scss

feat: :sparkles: add fetching random picture
  stores/apod.js
Due: eslint --fix

feat: :sparkles: add RandomDatePicker for random date
  components/RandomDatePicker.jsx
Due: eslint --fix

feat: :sparkles: add RandomPicture page
  components/RandomPicture.jsx
  src/App.jsx
Due: eslint --fix

fix: :recycle: move useEffect that fetches the random picture to the right component
  components/RandomDatePicker.jsx
  components/RandomPicture.jsx
Due: eslint --fix

fix: :lipstick: fix button size in the randon picture figure
  style/components/_random.scss
Due: stylelint --syntax=scss

fix: :bug: fix random date in the home page
  components/PictureOfTheDay.jsx
Due: eslint --fix

feat: :sparkles: add footer component
  components/Footer.jsx
  src/App.jsx
Due: eslint --fix

chore: :lipstick: add footer component styles
  style/components/_footer.scss
  style/global.scss
Due: stylelint --syntax=scss

chore: :fire: remove App.css file
  src/App.css
Due: none

feat: :lipstick: add button success to button styles
  style/objects/_button.scss
Due: stylelint --syntax=scss

feat: :sparkles: add modal for showing error messages
  components/Modal.jsx
  src/App.jsx
Due: eslint --fix

chore: :lipstick: add modal component styles
  style/global.scss
  style/objects/_modal.scss
Due: stylelint --syntax=scss

feat: :sparkles: add errorMessage in the UI store
  stores/ui.js
Due: eslint --fix

chore: :children_crossing: improve and handle the error display
  components/DatePicker.jsx
Due: eslint --fix

chore: :children_crossing: improve error display
  components/Slider.jsx
Due: eslint --fix

feat: :poop: add fetching date in the url query
  components/PictureOfTheDay.jsx
Due: eslint --fix

feat: :children_crossing: add button for sharing the current picture
  components/PictureData.jsx
Due: eslint --fix

chore: :lipstick: add the shooting star emojis as favicon
  index.html
Due: none

docs: :memo: update README.md
  README.md
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --syntax=scss: any of: *.scss
