Repository Guirdo/apod-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.scss":["stylelint --syntax=scss","git add"]
}

chore: :lipstick: add general font family
  style/_generics.scss
Due: stylelint --syntax=scss

fix: :wrench: fix stylelint and eslint error when fixing staged files
  .lintstagedrc
  style/components/_header.scss
  style/global.scss
Due: stylelint --syntax=scss

chore: :lipstick: improve header styles
  style/components/_header.scss
Due: stylelint --syntax=scss

chore: :lipstick: make first div inside body fills the whole space
  style/_generics.scss
Due: stylelint --syntax=scss

chore: :lipstick: add main component styles
  style/components/_main.scss
  style/global.scss
Due: stylelint --syntax=scss

chore: :heavy_plus_sign: add moment dependency for date management
  package-lock.json
  package.json
Due: none

feat: :sparkles: add useForm hook for inputs value
  hooks/useForm.js
Due: eslint --fix

chore: :heavy_plus_sign: add iconoir dependency
  package-lock.json
  package.json
Due: none

feat: :sparkles: add DatePicker component
  components/DatePicker.jsx
Due: eslint --fix

chore: :lipstick: update main class styles
  style/components/_main.scss
Due: stylelint --syntax=scss

chore: :lipstick: add date picker styles for DatePicker component
  style/global.scss
  style/objects/_date-picker.scss
Due: stylelint --syntax=scss

chore: :sparkles: add PictureOfTheDay component
  components/PictureOfTheDay.jsx
  src/App.jsx
Due: eslint --fix

feat: :construction: add slider component
  components/Slider.jsx
Due: eslint --fix

chore: :lipstick: add sldier styles
  components/PictureOfTheDay.jsx
  style/global.scss
  style/objects/_slider.scss
Due: eslint --fix, stylelint --syntax=scss

chore: :heavy_plus_sign: add zustand dependency
  package-lock.json
  package.json
Due: none

chore: :wrench: add .env in .gitignore
  .gitignore
Due: none

feat: :sparkles: add general store for all components
  stores/apod.js
Due: eslint --fix

feat: :sparkles: add fetchAPODWithDate function in the date picker
  components/DatePicker.jsx
Due: eslint --fix

feat: :sparkles: add fetchAPOD function in the picture of the day component
  components/PictureOfTheDay.jsx
Due: eslint --fix

feat: :sparkles: add modifyValues for modifying the inital state of the useForm hook
  hooks/useForm.js
Due: eslint --fix

feat: :sparkles: add setDate in the useAPODStore for updating the date
  stores/apod.js
Due: eslint --fix

fix: :bug: fix validation date and update date in the date picker form values
  components/DatePicker.jsx
Due: eslint --fix

feat: :sparkles: add isAValidDate function for date validation
  helper/isAValidDate.js
Due: eslint --fix

perf: :zap: improve fetching logic in useAPODStore
  stores/apod.js
Due: eslint --fix

fix: :bug: fix adding an extra zero in newDate formatting
  components/DatePicker.jsx
Due: eslint --fix

feat: :sparkles: add changing of the date through the previous and next buttons
  components/Slider.jsx
Due: eslint --fix

perf: :zap: add isLoading attribute for loading the new apod requested
  components/Slider.jsx
  stores/apod.js
Due: eslint --fix

chore: :lipstick: change the main component height
  style/components/_main.scss
Due: stylelint --syntax=scss

chore: :lipstick: add overflow-x to the universal selector in the styles
  style/_generics.scss
Due: stylelint --syntax=scss

feat: :sparkles: add PIctureData component
  components/PictureData.jsx
  components/PictureOfTheDay.jsx
Due: eslint --fix

chore: :lipstick: add Picture component styles
  style/global.scss
  style/objects/_picture.scss
Due: stylelint --syntax=scss

chore: :lipstick: add tools file in styles folder for mixins
  style/_tools.scss
  style/global.scss
Due: stylelint --syntax=scss

feat: :lipstick: add responsiveness to the slider
  style/objects/_slider.scss
Due: stylelint --syntax=scss

feat: :lipstick: add responsiveness the picture data styles
  style/objects/_picture.scss
Due: stylelint --syntax=scss

chore: :lipstick: change the slider width to 70% of the screen
  style/objects/_slider.scss
Due: stylelint --syntax=scss

chore: :lipstick: add support for tablet screens
  style/_tools.scss
Due: stylelint --syntax=scss

chore: :lipstick: add responsiveness to the brand name in the header
  style/components/_header.scss
Due: stylelint --syntax=scss

feat: :sparkles: add QualitySwitch component
  components/QualitySwitch.jsx
Due: eslint --fix

chore: :lipstick: add QualitySwitch styles
  style/global.scss
  style/objects/_quality.scss
Due: stylelint --syntax=scss

chore: :lipstick: improve Header layout for more components
  components/Header.jsx
  style/components/_header.scss
Due: eslint --fix, stylelint --syntax=scss
